<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台控制中心</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>

        td{
            width: 240px;
            height: 50px;

        }
    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="top :: left2"></div>
        </div>
        <div class="col-md-10">
            <div th:replace="top :: header"></div>
            <div style="padding: 20px 50px">
                <table>
                    <tr>
                        <td>医院名</td><td>地点</td><td>A型血</td><td>B型血</td><td>AB型血</td><td>O型血</td><td>合计</td><td>操作</td>
                    </tr>
                    <tr th:each="hospital:${hospitals}">
                        <td th:text="${hospital.getH_name()}"></td>
                        <td th:text="${hospital.getH_address()}"></td>
                        <td th:text="${hospital.getTypeA()}"></td>
                        <td th:text="${hospital.getTypeB()}"></td>
                        <td th:text="${hospital.getTypeAB()}"></td>
                        <td th:text="${hospital.getTypeO()}"></td>
                        <td th:text="${hospital.getTypeO()}+${hospital.getTypeAB()}+${hospital.getTypeA()}+${hospital.getTypeB()}"></td>
                        <td >
                            <a th:href="'/hospital/'+${hospital.getH_id()}+'/hospitalInfo'"><div style="float: left;margin-right: 10px"><button type="button" class="btn btn-info btn-sm">查看详情</button></div></a>
                            <a th:href="'/blood/delete/'"><div style="float: left;margin-right: 10px"><button type="button" class="btn btn-danger btn-sm">删除</button></div></a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>



<div th:replace="top :: footer"></div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../js/bootstrap.min.js"></script>
</body>

</html>